* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Dosis", sans-serif;
  /* width: 800px; */
  /* height: 100vh; */
  /* background: linear-gradient(119.77deg, #EA0022 1.67%, #754DE8 116.47%); */
  /* left: 0; 
  top: 0; 
  position: absolute; */
}
body::-webkit-scrollbar {
  display: none;
}

ul li {
  list-style: none;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  font-weight: 800;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.33);
  padding: 1rem 1.5rem;
}
.nav-bar .logo {
  margin-left: 2.6rem;
}
.nav-content ul {
  display: flex;
  align-items: center;
}
.nav-content ul li a {
  letter-spacing: 2px;
  text-decoration: 0;
  margin: 0.625rem;
  padding: 0 1rem;
  color: #525f7f;
}
.fa-key {
  margin-right: 10px;
}
.nav-btn button {
  letter-spacing: 2px;
  margin-right: 2.6rem;
  height: 40px;
  width: 102.5px;
  color: #ffffff;
  outline: 0;
  background-color: #3d55df;
  box-shadow: 0px 7px 14px rgba(50, 50, 93, 0.1),
    0px 3px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #324cdd;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
}
button:hover {
  opacity: 1;
}
.background-image {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
.background-image img {
  width: 100%;
  object-position: left;
  object-fit: cover;
}
.column {
  float: left;
}
.left {
  width: 45%;
  padding: 1rem ;
  /* margin: 2rem; */
  /* display: flex; */
  justify-content: center;
  border:1px solid black;
}
.right {
  width: 55%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
h1 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 900;
}
.box {
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  margin-top: 25px;
  width: 400px;
}
.icon-header {
  padding-top: 1rem;
}
.icon-header a {
  background-color: #e5c2c9;
  color: #dd5671;
  border-radius: 50%;
  padding: 12px;
  margin: 1.5rem 2rem;
}
.icon-header h2 {
  display: inline;
  align-items: center;
  font-weight: 600;
}
p {
  font-size: 16px;
  font-weight: 300;
  padding: 15px 5px;
  text-align: center;
  line-height: 1.563rem;
}
